extends layout

block content
  h1= title
  - const rabbit = results
  - let results1;
  script.
    function buy(x){
      alert('Purchased Item: ' + x)
   } 
  div(class='container-fluid')
    div(class='row')
      each results1, index in rabbit
        div(onclick='buy('+index+')') #{results1}