extends layout 
 
block content 
  h1= title 
  if (toShow == null) 
     h2 No instance to delete 
  else 
  - let rabbitid = toShow._id 
  - let rabbit_type = toShow.rabbit_type 
  - let rabbitarea = toShow.area 
  - let rabbitcost = toShow.cost 
  
  div.row(class='mb-2') 
    div.mr-1 ID is 
    div #{rabbitid} 
  - let actionid = "/resource/rabbit/" + rabbitid 
  form(id='rabbitForm', action= actionid, method="PUT") 
    div.form-group 
        label.rabbitAttr(for='rabbit_type') rabbit type 
        input#rabbit_type(type='text', name='rabbit_type', value= rabbit_type ) 
    div.form-group 
        label.rabbitAttr(for='area') rabbit area 
        input#area(type='text', name='area', value=area ) 
    div.form-group 
        label.rabbitAttr(for='cost') rabbit cost 
        input#cost(type='number', name='cost', value=cost ) 
    input(type="submit") 
 
  script. 
    document.forms['rabbitForm'].addEventListener('submit', (event) => { 
      event.preventDefault(); 
      // TODO do something here to show user that form is being submitted 
      fetch(event.target.action, { 
        method: 'PUT', 
        body: new URLSearchParams(new FormData(event.target)) // event.target is the form 
      }).then((resp) => { 
        return resp.json(); // or resp.text() or whatever the server sends 
      }).then((body) => { 
        alert("Update succeded") 
        // TODO handle body 
      }).catch((error) => { 
        // TODO handle error 
        alert("Update failed " + error ) 
      }); 
    });